@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: karla, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: gainsboro;
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 30px;
    background: white;
    border-radius: 17px;
    box-shadow: rgb(149, 157, 165, 0.2) 0px 8px 25px;
}

.drag--area {
    height: 400px;
    border: 3px dashed darkgray;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

.drag--area .icon {
    font-size: 50px;
    color: darkgrey;
}

.drag--area .header {
    font-size: 20px;
    font-weight: 500;
    color: gray;
}

.drag--area .support--image {
    font-size: 12px;
    color: darkgrey;
    margin: 10px 0 15px 0;

}

.drag--area .button {
    font-size: 20px;
    font-weight: 500;
    color: cornflowerblue;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
    font-weight: 500;
}

.drag--area.active {
    border: 2px solid cornflowerblue;
}
.drag--area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}